@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");


.answers-area {
  .question {
    padding-bottom: 1rem;
    h3 {
      margin: 1rem 2rem 1rem 2rem;
      text-align: left;
      padding: 1em;
      color: #949494;
      width: 100%;
      font-family: iA Quattro, montserat;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
@media screen and (max-width: 600px) {
  h3 {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem !important;
    text-align: center !important;
  }
}
