.likenessgrid-answers {
  padding-left: 2rem;
  padding-right: 2rem;
  .likenessgrid-radio-signature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60%;
    font-family: iA Quattro, montserat;
    font-size: 1rem;
    font-weight: 400;
    span{
      font-weight: bolder;
    }
  }
  .likenessgrid-radio-answers {
    display: flex;
    margin-bottom: 1.5rem;
    .likenessgrid-radio-answer {
      flex-grow: 1;
      min-height: 1rem;
      padding: .3rem .6rem .3rem .6rem;

      .likenessgrid-radio-container {
        min-width: 30px;
        min-height: 30px;
        display: flex;

        .likenessgrid-radio-label {
          input {
            position: absolute;
            opacity: 0;
            height: 1.5rem;
            width: 1rem;
            cursor: pointer;
            font-family: iA Quattro, montserat;
          }

          .likenessgrid-radio-custom {
            background-color: #e2e2e2;
            padding: 0.75rem; 
            border-radius: 5px;
            border-style: none;
            box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
            color: black;
            cursor: pointer;
            font-family: iA Quattro, montserat;
            font-size: 1.75rem;
            font-weight: 400;
            outline: 0;
            text-align: center;
            transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
            user-select: none;
            touch-action: manipulation;
            vertical-align: bottom;
            margin-bottom: 1em;
          }

          input:checked~.likenessgrid-radio-custom {
            opacity: 0.7;
            background-color: #000080;
            color: white;
          }
        }
      }
    }
  }
}