.home-container{
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    .home-inner-poll-container{
        padding-block: 4em;
        width: 40%;
    }
}
.home-question-board {
    border-radius: 1em;
    color: $text-on-light-background;
    background: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    overflow: hidden;
    .home-questions-area {
        display: grid;
        grid-template-columns: 1fr repeat(3,2fr);
        grid-gap:0.5rem;
        padding: 1em;
        overflow: none;
        min-height: 2rem;
        align-items: center;
    
        .home-questions-area-title {
            color: #949494;
            width: 100%;
            font-family: iA Quattro, montserat;
            text-align: center;
            font-size: large;
        }
        .home-questions-area-cell {
            color: black;
            width: 100%;
            font-family: iA Quattro, montserat;
            text-align: center;

            .home-button {
                background-color: #e2e2e2;
                padding: 0.5rem;
                padding-inline: 1rem;
                border-radius: 5px;
                border-style: none;
                box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
                color: black;
                cursor: pointer;
                display: inline-block;
                font-family: iA Quattro, montserat;
                font-size: 1rem;
                font-weight: 400;
                outline: 0;
                text-align: center;
                transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
                user-select: none;
                touch-action: manipulation;
                vertical-align: bottom;
              }
            
              .home-button:hover {
                opacity: 0.7;
                background-color: #000080;
                color: white;
              }
            
        }
      }
}
@media screen and (max-width: 1250px) {
    .home-inner-poll-container {
      width: 60% !important;
    }
  }
@media screen and (max-width: 800px) {
    .home-inner-poll-container {
      width: 80% !important;
    }
  }
  @media screen and (max-width: 600px) {
    .home-questions-area {
        display: flex !important;
        flex-direction: column !important;
    }
    .home-questions-area-title {
       display: none;
    }
  }