.notificationsitem{
        min-height: 3rem;
        background-color: white;
    
}
.notificationsitem-unread{
    background-color: rgb(210, 239, 248);
    min-height: 3rem;
} 
.notificationsitem-button{
    min-height: 3rem;
    width:100%;
    background-color: transparent; 
    border-color: transparent; 
    .notificationsitem-grid{
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        .notificationsitem-grid-time{
            padding-left: 3rem;
            text-align: left; 
        }
    }
    
}  
