.notificationsitem{
        min-height: 3rem;
        background-color: white;
    
}
.notificationsitem-unread{
    background-color: rgb(72, 159, 185);
    min-height: 3rem;
} 
.notificationsitem-button{
    min-height: 3rem;
    width:100%;
    background-color: transparent; 
    border-color: transparent; 
    .notificationsitem-grid{
        display: grid;
        grid-template-columns: 2fr 5fr 1fr;
        text-align: left; 
    }
    
}  
