.createquestion-question {
    .createquestion-h3 {
        margin: 1rem 2rem 1rem 2rem;
        font-family: iA Quattro, montserat;
        text-align: left;
        padding: 1em;
        color: #949494;
        width: 100%;
    }

    .answers {
        padding-inline: 3rem;

        .createquestion-answers {
            min-height: 9rem;
            display: flex;
            justify-content: space-between;
            .createquestion-textbox {
                width: 40%;
                resize: none;
                height: 4rem;
                overflow: hidden;
                font-size: 16px;
                border-radius: 10px;
                border: 1px solid rgba(245, 244, 247, 0.25) 0 1px 1px inset;
                padding: 0.75rem;
                font-family: iA Quattro, montserat;
                font-size: 1rem;
                font-weight: 400;
            }

            .createquestion-textbox:focus {
                transition: 0.5s;
                outline: none !important;
                border: 1px solid #000080;
                box-shadow: 0 0 10px #719ECE;
            }

            .createquestion-menu {
                width: 30%;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 1rem;
                padding-inline: 2rem;

                .createquestion-choose{
                    font-family: iA Quattro, montserat;;
                }
            }

        }

    }
}

.createquestion-button {
    background-color: #e2e2e2;
    padding: 0.5rem;
    padding-inline: 2rem;
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: iA Quattro, montserat;
    font-size: 1rem;
    font-weight: 400;
    outline: 0;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
    user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    margin-bottom: 1em;
}

.createquestion-button:hover {
    opacity: 0.7;
    background-color: #000080;
    color: white;
}
@media screen and (max-width: 600px) {
    .createquestion-answers {
        flex-direction: column;
        .createquestion-textbox {
            width: 90% !important;
            padding: 5% !important;
            margin-bottom: 1rem;
        }
    }
    .createquestion-menu {
        width: 100% !important;
        padding-inline: 0 !important;
        .createquestion-choose{
            margin-bottom: 1rem;
        }
    }
  }