@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");


.answers-area {
  .question {
    padding-bottom: 3rem;
    h3 {
      margin: 1rem 2rem 1rem 2rem;
      text-align: left;
      padding: 1em;
      color: #949494;
      float: left;
      width: 100%;
    }
  }
}