@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

.question-board {
  border-radius: 1em;
  border-color: $white;
  border-style: solid;
  color: $white;
  background: linear-gradient(to left top, #262626, $base-color);
  font-family: "Exo 2", sans-serif;
  text-align: center;

  .question {
    padding: 1em;

    h1 {
      color: $white;
    }
  }

  .answers-area {
    .answer {
      padding: 1rem;
      text-align: left;
      min-height: 50px;
      display: flex;
      align-content: center;
      flex-direction: row;

      .checkbox-container {
        min-width: 30px;
        min-height: 30px;
        float: left;

        .checkbox-label {
          input {
            position: absolute;
            opacity: 0;
            height: 24px;
            width: 24px;
            cursor: pointer;
          }

          .checkbox-custom {
            position: absolute;
            height: 24px;
            width: 24px;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid $white;
            transition: all 0.3 ease-out;
            -webkit-transition: all 0.3 ease-out;
            -moz-transition: all 0.3 ease-out;
            -ms-transition: all 0.3 ease-out;
            -o-transition: all 0.3 ease-out;

            &::after {
              position: absolute;
              content: "";
              left: 12px;
              top: 12px;
              height: 0px;
              width: 0px;
              border-radius: 5px;
              border: solid $base-color;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(0deg) scale(0);
              -ms-transform: rotate(0deg) scale(0);
              transform: rotate(0deg) scale(0);
              opacity: 1;
              transition: all 0.3s ease-out;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
            }

            &::before {
              position: absolute;
              content: "";
              left: 10px;
              top: 10px;
              height: 0px;
              width: 0px;
              border-radius: 5px;
              border: solid $white;
              -webkit-transform: scale(0);
              -ms-transform: scale(0);
              transform: scale(0);
            }
          }

          input:checked~.checkbox-custom {
            background-color: $white;
            border-radius: 5px;
            -webkit-transform: rotate(0deg) scale(1);
            -ms-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
            opacity: 1;
            border: 2px solid $white;

            &::after {
              -webkit-transform: rotate(45deg) scale(1);
              -ms-transform: rotate(45deg) scale(1);
              transform: rotate(45deg) scale(1);
              opacity: 1;
              left: 8px;
              top: 3px;
              height: 12px;
              width: 6px;
              border: solid $base-color;
              border-width: 0 2px 2px 0;
              background-color: transparent;
              border-radius: 0;
            }

            &::before {
              position: absolute;
              content: "";
              left: -3px;
              top: -3px;
              height: 24px;
              width: 24px;
              border-radius: 5px;
              -webkit-transform: scale(3);
              -ms-transform: scale(3);
              transform: scale(3);
              opacity: 0;
              z-index: 999;
              transition: all 0.3s ease-out;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
            }
          }
        }
      }

      .answer-container {
        min-width: 30px;
        min-height: 30px;
        float: left;
        padding-left: 1rem;
        .answer-content {
          min-height: 24px;
        }
      }
    }
  }

  button {
    background-color: initial;
    background-image: linear-gradient($white 0, $white 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
    color: $base-color;
    cursor: pointer;
    display: inline-block;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    margin-left: -4px;
    outline: 0;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
    user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    width: 100px;
    margin-bottom: 1em;
  }

  button:hover {
    opacity: 0.7;
  }
}