.expectationgrid-answers {
    padding-left: 2rem;
    padding-right: 2rem;
    .expectationgrid-expectation-signature{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:20%;
      span{
        font-weight: bolder;
      }
    }
    .expectationgrid-expectation-answers {
      display: flex;
      margin-bottom: 1.5rem;
      .expectationgrid-expectation-answer {
        flex-grow: 1;
        min-height: 1rem;
        padding: .3rem .6rem .3rem .6rem;
  
        .expectationgrid-expectation-container {
          min-width: 30px;
          min-height: 30px;
          display: flex;
  
          .expectationgrid-expectation-label {
            input {
              position: absolute;
              opacity: 0;
              height: 1.5rem;
              width: 1rem;
              cursor: pointer;
              font-family: iA Quattro, montserat;
            }
  
            .expectationgrid-expectation-custom {
              background-color: #e2e2e2;
              padding: 0.75rem;
              width: 3.25rem;
              height: 2.5rem;
              border-radius: 5px;
              border-style: none;
              box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
              color: black;
              cursor: pointer;
              font-family: iA Quattro, montserat;
              font-size: 1.75rem;
              font-weight: 400;
              margin-left: -4px;
              outline: 0;
              text-align: center;
              transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
              user-select: none;
              touch-action: manipulation;
              vertical-align: bottom;
              margin-bottom: 1em;
            }
  
            input:checked~.expectationgrid-expectation-custom {
              opacity: 0.7;
              background-color: #000080;
              color: white;
            }
          }
        }
      }
    }
  }