@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");


.summaryboard-answers-area {
  .summaryboard-question {
    padding-bottom: 3rem;
    h3 {
      margin: 1rem 2rem 1rem 2rem;
      text-align: left;
      padding: 1em;
      color: #949494;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .progressbar-parent{
      width: 100%;
      text-align: center;
      display: grid;
      justify-items: center;
      .progressbar{
        width: 80%;
        display: block;
      }
    }
    .summaryboard-openanswers{
        display: flex;
        flex-direction: column;
        
    }
  }
}