.PollCreationArea{
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    .createpoll-inner-poll-container{
        padding-block: 4em;
        width: 40%;
    }
}
.createpoll-question-board {
    border-radius: 1em;
    color: $text-on-light-background;
    background: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    .createpoll-questions-area {
      padding: 1em;
      overflow:none;
      min-height: 5rem;
      margin-left: 2rem;
      margin-right: 2rem;
  
      h1 {
        margin-top: 0.5rem;
        float:left; 
        font-family: iA Quattro, montserat;
      }
  }
}
@media screen and (max-width: 840px) {
  .createpoll-inner-poll-container {
    width: 60% !important;
  }
}
@media screen and (max-width: 680px) {
  .createpoll-inner-poll-container {
    width: 70% !important;
  }
}
@media screen and (max-width: 600px) {
  .createpoll-inner-poll-container {
    width: 80% !important;
  }
}