.invite-container {
    margin-bottom: 4em;
    display: flex;
    justify-content: center;

    .invite-inner-poll-container {
        padding-block: 4em;
        width: 40%;
    }
}

.invite-question-board {
    border-radius: 1em;
    color: $text-on-light-background;
    background: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;

    .invite-questions-area {
        padding: 1em;
        overflow: none;
        min-height: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

        h1 {
            margin-top: 0.5rem;
            float: left;
            font-family: iA Quattro, montserat;
        }
    }

    .invite-question-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        justify-items: center;
        padding-top: 3rem;
        min-height: 10rem;
        .invite-question-area-group{
            margin-left: 5rem;
            width:100%;
            .invite-question-area-title {
                text-align: left;
                width: 100%;
                font-family: iA Quattro, montserat;
                font-size: larger; 
                margin-bottom: 1rem;   
            }
            .invite-question-area-listitem{
                color: black;
                font-size: medium; 
                text-align: left;
            }
        }
        .invite-question-area-group2{
            text-align:left;
            width:100%;
            .choose{
                width:90%;
            }
            .invite-button2 {
                margin-top: 3rem;
                width: 90%;
                background-color: #e2e2e2;
                padding: 0.5rem;
                padding-inline: 2rem;
                border-radius: 5px;
                border-style: none;
                box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
                color: black;
                cursor: pointer;
                display: inline-block;
                font-family: iA Quattro, montserat;
                font-size: 1rem;
                font-weight: 400;
                outline: 0;
                text-align: center;
                transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
                user-select: none;
                touch-action: manipulation;
                vertical-align: bottom;
                margin-bottom: 1em;
            }
            
            .invite-button2:hover {
                opacity: 0.7;
                background-color: #000080;
                color: white;
            }
        }
    }
}

.invite-button {
    background-color: #e2e2e2;
    padding: 0.5rem;
    padding-inline: 2rem;
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: iA Quattro, montserat;
    font-size: 1rem;
    font-weight: 400;
    outline: 0;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
    user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    margin-bottom: 1em;
}

.invite-button:hover {
    opacity: 0.7;
    background-color: #000080;
    color: white;
}


@media screen and (max-width: 600px) {
    .invite-inner-poll-container {
        width: 80% !important;
    }
}