.navbar {
    color: #fff;

    position: fixed;
    background: #d06e73;
    transition: width 200ms ease;
    .navbar-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-item{
            width:100%;
            &:last-child{
                margin-top: auto;
            }
        }
        .nav-link{
            display: flex;
            align-items: center;
            height: 5rem;
            text-decoration: none;
            filter: grayscale(100%) opacity(0.5);
            transition: 600ms;
            &:hover{
                filter: grayscale(0%) opacity(1);
            }
        }

        .link-text{
            display: none;
            margin-left: 1rem;
        }
        .nav-link img{
            min-width: 2rem;
            margin: 0 1.5rem;
        }
    }
  
}

@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
        &:hover{
            width: 16rem;
            .link-text{
                display: inline;
                transition: opacity (600ms);
            }
        }
    }
    
}

@media only screen and (max-width: 600px){
 .navbar{
     bottom: 0;
     width: 100vw;
     height: 5rem;
     .navbar-nav{
         flex-direction: row;
         .nav-link{
             justify-content: center;
         }
     }
 }

 .hero{
     margin: 0;
 }

}
