.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 3px solid $text-on-light-background;

    a{
        color: $text-on-light-background;
        text-decoration: none;
        color: $base-color;
    }

    ul{
        display: flex;
        list-style: none;
    }
    li{
        padding-left: 1rem;
    }
    .loginButton{
        float: right;
    }
}

