.navbar {
    color: #fff;
    position: fixed;
    background: #374785;
    transition: width 200ms ease;
    .navbar-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
       
        .nav-item{
            flex:1;
        }
        .nav-link{
            display: flex;
            align-items: center;
            height: 5rem;
            text-decoration: none;
            filter: grayscale(100%) opacity(0.5);
            transition: 600ms;
            &:hover{
                filter: grayscale(0%) opacity(1);
            }
            #checkbox{
                display: none;
            }
            .toggler{
                margin-right: 16px;
                left: 10px;
                display: block;
                width: 60px;
                height: 31px;
                border: 2px solid #ffffff;
                border-radius: 30px;
                position: relative;
                cursor: pointer;
            }
            .ball,.sun,.moon{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .ball{
                display: inline-block;
                width: 25px;
                height: 25px;
                background-color: #ffffff;
                border-radius: 50%;
                left:1px;
                z-index:10 ;
                transition: transform .5s ease-in-out;
            }
            .sun{
                left: 5px;
                width: 20px;
                height: 20px;
                color: #ffffff;
            }
            .moon{
                right: 5px;
                width: 20px;
                height: 20px;
                color: #ffffff;
            }
            #checkbox:checked + .ball{
                transform: translate(29px, -50%);
            }
        }

        .link-text{
            display: none;
            margin-left: 1rem;
            color: white;
            text-decoration: none;
        }
        .nav-link img{
            max-width: 2rem;
            min-width: 2rem;
            margin: 0 1.5rem;
        }
        .notifications-badge{
            position: inherit;
            transform: translate(40px,20px);
            width: 1.5rem;
            height: 1.5rem;
            background: red;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
    }
  
}

@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
        &:hover{
            width: 16rem;
            .link-text{
                display: inline;
                transition: opacity (600ms);
            }
        }
    }
    
}

@media only screen and (max-width: 600px){
 .navbar{
     bottom: 0;
     width: 100vw;
     height: 5rem;

     .navbar-nav{
         flex-direction: row;
         .nav-link{
             justify-content: center;
         }
     }
 }

 .hero{
     margin: 0;
 }

}
@media only screen and (max-width: 480px){
    #motywcheck2{
        display: none !important;
    }
}
@media only screen and (max-height: 480px){
    #motywcheck2{
        display: none !important;
    }
}