@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
.pollcontainer-poll-container {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pollcontainer-poll-container .pollcontainer-inner-poll-container {
  padding-block: 4em;
  width: 40%;
}

.pollcontainer-question-board {
  border-radius: 1em;
  color: #4a3231;
  background: white;
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

.pollcontainer-question-board .pollcontainer-questions-area {
  padding: 1em;
  overflow: none;
  min-height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pollcontainer-question-board .pollcontainer-questions-area h1 {
  color: black;
  margin-top: 0.5rem;
  float: left;
  font-family: iA Quattro, montserat;
}

.pollcontainer-button {
  background-color: #e2e2e2;
  padding: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: iA Quattro, montserat;
  font-size: 1rem;
  font-weight: 400;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.pollcontainer-button:hover {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

@media screen and (max-width: 600px) {
  .pollcontainer-inner-poll-container {
    width: 80% !important;
  }
}

.login-view {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.login-view .login-window {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  padding-top: 0;
  z-index: 2;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 550px;
  width: 325px;
  background-color: #74747433;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.login-view .login-window .login-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
  border-radius: 3rem 3rem 0 0;
  text-shadow: 1px 1px 0 black;
  color: white;
  font-size: 2rem;
}

.login-view .login-window .login-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px -5px black;
          box-shadow: 0px 0px 15px -5px black;
}

@-webkit-keyframes login-background {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes login-background {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.register-view {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.register-view .register-window {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  padding-top: 0;
  z-index: 2;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 550px;
  width: 325px;
  background-color: #74747433;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.register-view .register-window .register-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
  border-radius: 3rem 3rem 0 0;
  text-shadow: 1px 1px 0 black;
  color: white;
  font-size: 2rem;
}

.register-view .register-window .register-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px -5px black;
          box-shadow: 0px 0px 15px -5px black;
}

@-webkit-keyframes register-background {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes register-background {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.notfound-parent {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.notfound-parent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PollCreationArea {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PollCreationArea .createpoll-inner-poll-container {
  padding-block: 4em;
  width: 40%;
}

.createpoll-question-board {
  border-radius: 1em;
  color: #4a3231;
  background: white;
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

.createpoll-question-board .createpoll-questions-area {
  padding: 1em;
  overflow: none;
  min-height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.createpoll-question-board .createpoll-questions-area h1 {
  color: black;
  margin-top: 0.5rem;
  float: left;
  font-family: iA Quattro, montserat;
}

@media screen and (max-width: 840px) {
  .createpoll-inner-poll-container {
    width: 60% !important;
  }
}

@media screen and (max-width: 680px) {
  .createpoll-inner-poll-container {
    width: 70% !important;
  }
}

@media screen and (max-width: 600px) {
  .createpoll-inner-poll-container {
    width: 80% !important;
  }
}

.summary-container {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary-container .inner-poll-container {
  padding-block: 4em;
  width: 40%;
}

.question-board {
  border-radius: 1em;
  color: #4a3231;
  background: white;
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

.question-board .questions-area {
  padding: 1em;
  overflow: none;
  min-height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.question-board .questions-area h1 {
  color: black;
  margin-top: 0.5rem;
  float: left;
  font-family: iA Quattro, montserat;
}

.button {
  background-color: #e2e2e2;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.button:hover {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

.summaryboard-answers-area .summaryboard-question {
  padding-bottom: 3rem;
}

.summaryboard-answers-area .summaryboard-question h3 {
  margin: 1rem 2rem 1rem 2rem;
  text-align: left;
  padding: 1em;
  color: #949494;
  width: 100%;
}

.answers {
  padding: 0;
  margin: 0;
}

.answers .piechart .piechart2 {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
}

.likenessgrid-answers {
  padding-left: 2rem;
  padding-right: 2rem;
}

.likenessgrid-answers .likenessgrid-radio-signature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 60%;
  font-family: iA Quattro, montserat;
  font-size: 1rem;
  font-weight: 400;
}

.likenessgrid-answers .likenessgrid-radio-signature span {
  font-weight: bolder;
}

.likenessgrid-answers .likenessgrid-radio-answers {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.5rem;
  -ms-grid-columns: (minmax(60px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  justify-items: center;
}

.likenessgrid-answers .likenessgrid-radio-answers .likenessgrid-radio-answer {
  min-height: 1rem;
  padding: 1rem .6rem 1rem .6rem;
}

.likenessgrid-answers .likenessgrid-radio-answers .likenessgrid-radio-answer .likenessgrid-radio-container {
  min-width: 30px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.likenessgrid-answers .likenessgrid-radio-answers .likenessgrid-radio-answer .likenessgrid-radio-container .likenessgrid-radio-label input {
  position: absolute;
  opacity: 0;
  height: 1.5rem;
  width: 1rem;
  cursor: pointer;
  font-family: iA Quattro, montserat;
}

.likenessgrid-answers .likenessgrid-radio-answers .likenessgrid-radio-answer .likenessgrid-radio-container .likenessgrid-radio-label .likenessgrid-radio-custom {
  background-color: #e2e2e2;
  padding: 0.75rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  font-family: iA Quattro, montserat;
  font-size: 1.75rem;
  font-weight: 400;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.likenessgrid-answers .likenessgrid-radio-answers .likenessgrid-radio-answer .likenessgrid-radio-container .likenessgrid-radio-label input:checked ~ .likenessgrid-radio-custom {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

@media screen and (max-width: 930px) {
  .likenessgrid-radio-signature span {
    display: none;
  }
  .likenessgrid-radio-answers {
    grid-column-gap: 1rem;
  }
}

.checkboxgrid-answers {
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}

.checkboxgrid-answers .checkboxgrid-answer {
  min-height: 1rem;
  overflow: hidden;
  float: left;
  padding: .3rem .6rem .3rem .6rem;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container {
  min-width: 30px;
  min-height: 30px;
  float: left;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label input {
  position: absolute;
  opacity: 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label .checkboxgrid-checkbox-custom {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 24px;
  border: 2px solid #e2e2e2;
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3 ease-out;
  -moz-transition: all 0.3 ease-out;
  -ms-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label .checkboxgrid-checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 12px;
  border: solid #e2e2e2;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label .checkboxgrid-checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  height: 0px;
  width: 0px;
  border-radius: 10px;
  border: solid #FFFFFF;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label input:checked ~ .checkboxgrid-checkbox-custom {
  background-color: #000080;
  border-radius: 24px;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #FFFFFF;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label input:checked ~ .checkboxgrid-checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  height: 12px;
  width: 6px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-checkbox-container .checkboxgrid-checkbox-label input:checked ~ .checkboxgrid-checkbox-custom::before {
  position: absolute;
  content: "";
  left: -3px;
  top: -3px;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  -webkit-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-answer-container {
  min-width: 30px;
  min-height: 30px;
  float: left;
  padding-left: 1.25rem;
}

.checkboxgrid-answers .checkboxgrid-answer .checkboxgrid-answer-container .checkboxgrid-answer-content {
  min-height: 24px;
}

.expectationgrid-answers {
  padding-left: 2rem;
  padding-right: 2rem;
}

.expectationgrid-answers .expectationgrid-expectation-signature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20%;
}

.expectationgrid-answers .expectationgrid-expectation-signature span {
  font-weight: bolder;
}

.expectationgrid-answers .expectationgrid-expectation-answers {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.5rem;
  -ms-grid-columns: (minmax(60px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  justify-items: center;
}

.expectationgrid-answers .expectationgrid-expectation-answers .expectationgrid-expectation-answer {
  min-height: 1rem;
  padding: 1rem .6rem 1rem .6rem;
}

.expectationgrid-answers .expectationgrid-expectation-answers .expectationgrid-expectation-answer .expectationgrid-expectation-container {
  min-width: 30px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expectationgrid-answers .expectationgrid-expectation-answers .expectationgrid-expectation-answer .expectationgrid-expectation-container .expectationgrid-expectation-label input {
  position: absolute;
  opacity: 0;
  height: 1.5rem;
  width: 1rem;
  cursor: pointer;
  font-family: iA Quattro, montserat;
}

.expectationgrid-answers .expectationgrid-expectation-answers .expectationgrid-expectation-answer .expectationgrid-expectation-container .expectationgrid-expectation-label .expectationgrid-expectation-custom {
  background-color: #e2e2e2;
  padding: 0.75rem;
  width: 3.25rem;
  height: 2.5rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  font-family: iA Quattro, montserat;
  font-size: 1.75rem;
  font-weight: 400;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.expectationgrid-answers .expectationgrid-expectation-answers .expectationgrid-expectation-answer .expectationgrid-expectation-container .expectationgrid-expectation-label input:checked ~ .expectationgrid-expectation-custom {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

@media screen and (max-width: 930px) {
  .expectationgrid-expectation-signature span {
    display: none;
  }
  .expectationgrid-expectation-answers {
    grid-column-gap: 1rem;
  }
}

.openquestion-answers {
  padding: 1.5rem;
  padding-inline: 3rem;
}

.openquestion-answers .openquestion-inside-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.openquestion-answers .openquestion-inside-answers .openquestion-textbox {
  width: 100%;
  resize: none;
  min-height: 5rem;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  padding: 0.75rem;
  font-family: iA Quattro, montserat;
  font-size: 1rem;
  font-weight: 400;
}

.openquestion-answers .openquestion-inside-answers .openquestion-textbox:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none !important;
  border: 1px solid #000080;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.answers-area .question {
  padding-bottom: 1rem;
}

.answers-area .question h3 {
  margin: 1rem 2rem 1rem 2rem;
  text-align: left;
  padding: 1em;
  color: #949494;
  width: 100%;
  font-family: iA Quattro, montserat;
}

.navbar {
  color: #fff;
  position: fixed;
  background: #d06e73;
  -webkit-transition: width 200ms ease;
  transition: width 200ms ease;
}

.navbar .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-item {
  width: 100%;
}

.navbar .navbar-nav .nav-item:last-child {
  margin-top: auto;
}

.navbar .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.5);
          filter: grayscale(100%) opacity(0.5);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.navbar .navbar-nav .nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
}

.navbar .navbar-nav .link-text {
  display: none;
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.navbar .navbar-nav .nav-link img {
  max-width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar .navbar-nav .notifications-badge {
  position: inherit;
  -webkit-transform: translate(40px, 20px);
          transform: translate(40px, 20px);
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .navbar-nav .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero {
    margin: 0;
  }
}

.createquestion-question .createquestion-h3 {
  margin: 1rem 2rem 1rem 2rem;
  font-family: iA Quattro, montserat;
  text-align: left;
  padding: 1em;
  color: #949494;
  width: 100%;
}

.createquestion-question .answers {
  padding-inline: 3rem;
}

.createquestion-question .answers .createquestion-answers {
  min-height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createquestion-question .answers .createquestion-answers .createquestion-textbox {
  width: 40%;
  resize: none;
  height: 4rem;
  overflow: hidden;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  padding: 0.75rem;
  font-family: iA Quattro, montserat;
  font-size: 1rem;
  font-weight: 400;
}

.createquestion-question .answers .createquestion-answers .createquestion-textbox:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none !important;
  border: 1px solid #000080;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.createquestion-question .answers .createquestion-answers .createquestion-menu {
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-inline: 2rem;
}

.createquestion-question .answers .createquestion-answers .createquestion-menu .createquestion-choose {
  font-family: iA Quattro, montserat;
}

.createquestion-button {
  background-color: #e2e2e2;
  padding: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: iA Quattro, montserat;
  font-size: 1rem;
  font-weight: 400;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.createquestion-button:hover {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

@media screen and (max-width: 600px) {
  .createquestion-answers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createquestion-answers .createquestion-textbox {
    width: 90% !important;
    padding: 5% !important;
    margin-bottom: 1rem;
  }
  .createquestion-menu {
    width: 100% !important;
    padding-inline: 0 !important;
  }
  .createquestion-menu .createquestion-choose {
    margin-bottom: 1rem;
  }
}

.createanswer-question .createanswer-h3 {
  margin: 1rem 2rem 1rem 2rem;
  font-family: iA Quattro, montserat;
  text-align: left;
  padding: 1em;
  color: #949494;
  width: 100%;
}

.createanswer-question .createanswer-answers {
  padding-inline: 3rem;
}

.createanswer-question .createanswer-answers .create-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createanswer-question .createanswer-answers .create-answers .createanswer-textbox {
  width: 40%;
  resize: none;
  height: 5rem;
  overflow: hidden;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  padding: 0.75rem;
  font-family: iA Quattro, montserat;
  font-size: 1rem;
  font-weight: 400;
}

.createanswer-question .createanswer-answers .create-answers .createanswer-textbox:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none !important;
  border: 1px solid #000080;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.createanswer-question .createanswer-answers .create-answers .createanswer-menu {
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-inline: 2rem;
}

.createanswer-button {
  background-color: #e2e2e2;
  padding: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: iA Quattro,montserat;
  font-size: 1rem;
  font-weight: 400;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.createanswer-button:hover {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

@media screen and (max-width: 600px) {
  .create-answers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .create-answers .createanswer-textbox {
    width: 90% !important;
    padding: 5% !important;
    margin-bottom: 1rem;
  }
  .createanswer-menu {
    width: 100% !important;
    padding-inline: 0 !important;
  }
}

.configpoll-formcontrollabel {
  padding: 1rem;
}

.configpoll-button {
  background-color: #e2e2e2;
  padding: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
          box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: iA Quattro,montserat;
  font-size: 1rem;
  font-weight: 400;
  outline: 0;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: bottom;
  margin-bottom: 1em;
}

.configpoll-button:hover {
  opacity: 0.7;
  background-color: #000080;
  color: white;
}

.inviteArea {
  margin-left: 5rem;
}

table {
  margin-left: 5rem;
}
/*# sourceMappingURL=style.css.map */