@import "ScssConfig";
@import "../view/pollContainer/PollContainer";
@import "../view/authorization/login-view/styles";
@import "../view/authorization/register-view/styles";
@import "../view/404/404";
@import "../view/CreatePoll/CreatePoll";
@import "../view/PollSummary/PollSummary";

@import "../components/SummaryComponents/SummaryBoard/SummaryBoard";
@import "../components/SummaryComponents/PieChart/PieChart";
@import "../components/SummaryComponents/BarChart/BarChart";

@import "../components/PollComponents/LikenessGrid/LikenessGrid";
@import "../components/PollComponents/CheckboxGrid/CheckboxGrid";
@import "../components/PollComponents/ExpectationGrid/ExpectationGrid";
@import "../components/PollComponents/OpenQuestion/OpenQuestion";
@import "../components/PollComponents/QuestionBoard/QuestionBoard";

@import "../components/NavBar/NavBar";
@import "../components/CreateQuestion/CreateQuestion";
@import "../components/CreateAnswers/CreateAnswers";
@import "../components/ConfigPoll/ConfigPoll";
@import "../view/invite/Invite";
@import "../view/myPolls/MyPolls"

