@font-face {
  font-family: 'iA Quattro';
  src: url("./assets/fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

@font-face {
  font-family: 'iA Quattro';
  src: url("./assets/fonts/iAWriterQuattroS-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'iA Quattro';
  src: url("./assets/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: 'iA Quattro';
  src: url("./assets/fonts/iAWriterQuattroS-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Pixelboy';
  src: url("./assets/fonts/Pixelboy.ttf") format("truetype");
}

@font-face {
  font-family: 'Fipps';
  src: url("./assets/fonts/Fipps-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


html{
  height: 100vh;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #6649b8;
}

.hero{
  margin-left: 5rem;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.area{
  
  min-height: 100vh;
}
.circles{
     width: 100%;
     overflow: hidden;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     position: absolute;
     pointer-events: none;
     display: flex;
     flex: 1;
}

.circles li{
  position: relative;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  top: 70%;
  rotate:30deg; 
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;

}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  top: 2%;
  rotate: 15deg;
}

.circles li:nth-child(5){
  top: 30%;
  left: 65%;
  width: 20px;
  height: 20px;
  rotate: 45deg;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  top:72%;
  rotate:15deg;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  top:47%;
  rotate:32deg;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  top:15%;
  rotate: 10deg;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  top: 60%;
  rotate:50deg;
}

.circles li:nth-child(10){
  left: 0%;
  width: 150px;
  height: 150px;
  top: 30%;
  rotate: 25deg;
}



